@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #252833;
}

a {
  font-family: "Lora", serif;
  font-weight: 500;
  color: #252833;
}

button {
  border: none;
}

input,
textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #252833;
  width: 100%;
  color: #252833;
  padding: 10px 0px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #4b4845;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #4b4845;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #4b4845;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

input::placeholder,
textarea::placeholder {
  color: #4b4845;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

textarea {
  resize: none;
  height: 45px;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

.mr-40px {
  margin-right: 40px;
}

.search-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .search-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 861px) {
  .search-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.category-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .category-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.list-item {
  background: #fcf5e9;
  border-radius: 16px;
  cursor: pointer;
}

.list-item .top {
  padding: 26px 26px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item .top .cover {
  height: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}

.list-item .top h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: #322e23;
}

.list-item .bottom {
  margin: 20px 26px 26px;
}

.list-item .bottom .hour-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.list-item .bottom .hour-heading {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #5e594e;
  font-size: 14px;
  line-height: 21px;
}

.list-item .bottom .hour-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #322e23;
}

.hour-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.hour-heading {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #5e594e;
  font-size: 14px;
  line-height: 21px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.hour-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #322e23;
}

.ingr-mob-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(54, 54, 54, 0.233);
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #ff8549;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back img {
  margin-right: 10px;
}

.ingr-mob {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80vh;
  z-index: 11100;
  background-color: #fcf5e9;
  left: 0;
  bottom: -100%;
  padding: 20px;
}

.ingr-mob .side-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #252833;
}

.mb-26 {
  margin-bottom: 26px;
}

.stepsDesk {
  min-height: calc(100vh - 107px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.stepsDesk:before {
  content: "";
  position: absolute;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 66, 60, 0)), color-stop(52.37%, #56423c), to(rgba(86, 66, 60, 0)));
  background: linear-gradient(180deg, rgba(86, 66, 60, 0) 0%, #56423c 52.37%, rgba(86, 66, 60, 0) 100%);
  border-radius: 2px;
  top: 50%;
  width: 1px;
  left: 50%;
  height: 100vh;
  max-height: calc(100vh - 107px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stepsDesk .step-circle {
  position: relative;
  z-index: 2;
  margin-left: 30px;
  margin-right: 30px;
  color: #56423c;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  width: 36px;
  text-align: center;
}

.stepsDesk .step-circle:not(:last-of-type) {
  margin-bottom: 60px;
}

.stepsDesk .step-circle:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 40px;
  left: 50%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stepsDesk .step-circle.current {
  color: #ffffff;
}

.stepsDesk .step-circle.current:before {
  background-color: #56423c;
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #b7a99a;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mt-40px {
  margin-top: 40px;
}

.mb-40px {
  margin-bottom: 40px;
}

body {
  background-color: #fcf5e9;
}

h1 {
  font-weight: 500;
  font-size: 82px;
  color: #252833;
}

h2 {
  font-size: 44px;
  font-weight: bold;
  color: #322e23;
}

.recipe-head {
  font-size: 18px;
  font-family: "Lora", serif;
  font-weight: 500;
  color: #4b4845;
}

.recipe-time {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #252833;
  size: 14px;
  line-height: 21px;
}

h3 {
  font-size: medium;
  font-size: 28px;
  color: #252833;
  margin-top: 26px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #4b4845;
  line-height: 24px;
}

.menu-links a {
  font-family: "Lora", serif;
  font-weight: 500;
  color: #252833;
  font-size: 16px;
}

.mb-125px {
  margin-bottom: 125px !important;
}

.bg-dark-bige {
  background-color: #dec1a8;
}

.recire-header {
  background-color: #fcf5e9;
  border-bottom: 1px solid #322e23;
}

.recire-header .logo-div {
  margin: 23px 0 13px !important;
}

@media screen and (min-width: 860px) {
  .recire-header {
    background-color: #dec1a8;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mw-650 {
  max-width: 650px;
  margin: 0 auto;
}

.m-0auto {
  margin: 0 auto;
}

.second-btn {
  cursor: pointer;
  display: inline-block;
  padding: 14px 76px;
  background-color: #fcf5e9;
  color: #ff8549;
  border-radius: 6px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

@media screen and (max-width: 600px) {
  .second-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.second-btn:hover {
  background-color: #ffffff;
}

.mt-145 {
  margin-top: 145px;
}

@media screen and (max-width: 600px) {
  .mt-145 {
    margin-top: 60px;
  }
}

.ptb-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-26 {
  margin-top: 26px;
}

.main-btn {
  cursor: pointer;
  display: inline-block;
  color: #fcf5e9 !important;
  font-size: 18px !important;
  background-color: #ff8549;
  border-radius: 6px;
  padding: 14px 40px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.main-btn:hover {
  background-color: #4b4845;
}

.main-btn:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.main-btn-outline {
  cursor: pointer;
  display: inline-block;
  color: #ff8549 !important;
  font-size: 18px !important;
  background-color: #fcf5e9;
  border-radius: 6px;
  padding: 13px 39px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  border: 1px solid #ff8549;
}

@media screen and (max-width: 600px) {
  .main-btn-outline {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .main-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.recepies-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-top: 1px solid #322e23;
  border-bottom: 1px solid #322e23;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.recepies-menu > a {
  margin-right: 40px;
  font-size: 18px;
  line-height: 27px;
}

.recepies-menu > a:last-of-type {
  padding-right: 0px;
}

@media (min-width: 667px) {
  .recepies-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recepies-menu > a {
    margin-right: 60px;
  }
  .recepies-menu > a:last-of-type {
    padding-right: 20px;
  }
}

.ingr-head {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5e594e;
}

.ingr-list {
  margin-top: 16px;
  list-style-position: inside;
}

.ingr-list li {
  font-size: 14px;
  line-height: 21px;
  color: #4b4845;
}

.m-026 {
  margin-left: 26px;
  margin-right: 26px;
}

.mr-26 {
  margin-right: 26px;
}

.small-menu {
  background: #56423c;
  border-radius: 16px;
  padding: 16px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-menu img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.small-menu.fix {
  position: fixed;
  bottom: 30px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  max-width: 600px;
  width: calc(100% - 70px);
  z-index: 1000000;
}

.menu-right {
  max-width: 320px;
  width: 100%;
  padding: 26px 0;
  background: #fcf5e9;
  border-radius: 26px;
  position: fixed;
  width: calc(33.333333% - 30px);
  max-width: 320px;
}

.menu-right .links {
  margin-top: 50px;
}

.menu-right .links a {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.side-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #322e23;
}

.back-link {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 26px;
}

.back-link img {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.back-link p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ff8549;
}

.menu-right-rec {
  max-width: 320px;
  padding: 26px 0;
  background: #fcf5e9;
  border-radius: 26px;
  margin-bottom: 20px;
}

.category-page {
  padding-top: 88px;
  min-height: 100vh;
}

@media (min-width: 860px) {
  .category-page {
    padding-top: 128px;
  }
}

.recepies-menu::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

@media (min-width: 600px) {
  .container {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 860px) {
  .container {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.row.md-p {
  margin: 0 -8px;
}

.row .col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  width: 8.333333%;
}

.row .col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  width: 16.666667%;
}

.row .col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
}

.row .col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  width: 33.333333%;
}

.row .col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  width: 41.666667%;
}

.row .col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}

.row .col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  width: 58.333333%;
}

.row .col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  width: 66.666667%;
}

.row .col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%;
}

.row .col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  width: 83.333333%;
}

.row .col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  width: 91.666667%;
}

.row .col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
}

.row .col-sm-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(8.333333% - 20px);
  flex: 0 0 calc(8.333333% - 20px);
  width: calc(8.333333% - 20px);
  padding: 0 10px;
}

.row .col-sm-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(16.666667% - 20px);
  flex: 0 0 calc(16.666667% - 20px);
  width: calc(16.666667% - 20px);
  padding: 0 10px;
}

.row .col-sm-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(25% - 20px);
  flex: 0 0 calc(25% - 20px);
  width: calc(25% - 20px);
  padding: 0 10px;
}

.row .col-sm-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(33.333333% - 20px);
  flex: 0 0 calc(33.333333% - 20px);
  width: calc(33.333333% - 20px);
  padding: 0 10px;
}

.row .col-sm-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(41.666667% - 20px);
  flex: 0 0 calc(41.666667% - 20px);
  width: calc(41.666667% - 20px);
  padding: 0 10px;
}

.row .col-sm-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 20px);
  flex: 0 0 calc(50% - 20px);
  width: calc(50% - 20px);
  padding: 0 10px;
}

.row .col-sm-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(58.333333% - 20px);
  flex: 0 0 calc(58.333333% - 20px);
  width: calc(58.333333% - 20px);
  padding: 0 10px;
}

.row .col-sm-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(66.666667% - 20px);
  flex: 0 0 calc(66.666667% - 20px);
  width: calc(66.666667% - 20px);
  padding: 0 10px;
}

.row .col-sm-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(75% - 20px);
  flex: 0 0 calc(75% - 20px);
  width: calc(75% - 20px);
  padding: 0 10px;
}

.row .col-sm-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(83.333333% - 20px);
  flex: 0 0 calc(83.333333% - 20px);
  width: calc(83.333333% - 20px);
  padding: 0 10px;
}

.row .col-sm-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(91.666667% - 20px);
  flex: 0 0 calc(91.666667% - 20px);
  width: calc(91.666667% - 20px);
  padding: 0 10px;
}

.row .col-sm-12 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: auto;
  padding: 0 10px;
}

@media (min-width: 600px) {
  .row {
    margin: 0 -10px;
  }
  .row .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(8.333333%);
    flex: 0 0 calc(8.333333%);
    width: calc(8.333333%);
    padding: 0 8px;
  }
  .row .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(16.666667%);
    flex: 0 0 calc(16.666667%);
    width: calc(16.666667%);
    padding: 0 8px;
  }
  .row .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25%);
    flex: 0 0 calc(25%);
    width: calc(25%);
    padding: 0 8px;
  }
  .row .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33.333333%);
    flex: 0 0 calc(33.333333%);
    width: calc(33.333333%);
    padding: 0 8px;
  }
  .row .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(41.666667%);
    flex: 0 0 calc(41.666667%);
    width: calc(41.666667%);
    padding: 0 8px;
  }
  .row .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50%);
    flex: 0 0 calc(50%);
    width: calc(50%);
    padding: 0 8px;
  }
  .row .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(58.333333%);
    flex: 0 0 calc(58.333333%);
    width: calc(58.333333%);
    padding: 0 8px;
  }
  .row .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(66.666667%);
    flex: 0 0 calc(66.666667%);
    width: calc(66.666667%);
    padding: 0 8px;
  }
  .row .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(75%);
    flex: 0 0 calc(75%);
    width: calc(75%);
    padding: 0 8px;
  }
  .row .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(83.333333%);
    flex: 0 0 calc(83.333333%);
    width: calc(83.333333%);
    padding: 0 8px;
  }
  .row .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(91.666667%);
    flex: 0 0 calc(91.666667%);
    width: calc(91.666667%);
    padding: 0 8px;
  }
  .row .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%);
    width: calc(100%);
    padding: 0 8px;
  }
}

@media (min-width: 860px) {
  .row {
    margin: 0 -15px;
  }
  .row .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(8.333333%);
    flex: 0 0 calc(8.333333%);
    width: calc(8.333333%);
    padding: 0 15px;
  }
  .row .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(16.666667%);
    flex: 0 0 calc(16.666667%);
    width: calc(16.666667%);
    padding: 0 15px;
  }
  .row .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25%);
    flex: 0 0 calc(25%);
    width: calc(25%);
    padding: 0 15px;
  }
  .row .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33.333333%);
    flex: 0 0 calc(33.333333%);
    width: calc(33.333333%);
    padding: 0 15px;
  }
  .row .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(41.666667%);
    flex: 0 0 calc(41.666667%);
    width: calc(41.666667%);
    padding: 0 15px;
  }
  .row .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50%);
    flex: 0 0 calc(50%);
    width: calc(50%);
    padding: 0 15px;
  }
  .row .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(58.333333%);
    flex: 0 0 calc(58.333333%);
    width: calc(58.333333%);
    padding: 0 15px;
  }
  .row .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(66.666667%);
    flex: 0 0 calc(66.666667%);
    width: calc(66.666667%);
    padding: 0 15px;
  }
  .row .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(75%);
    flex: 0 0 calc(75%);
    width: calc(75%);
    padding: 0 15px;
  }
  .row .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(83.333333%);
    flex: 0 0 calc(83.333333%);
    width: calc(83.333333%);
    padding: 0 15px;
  }
  .row .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(91.666667%);
    flex: 0 0 calc(91.666667%);
    width: calc(91.666667%);
    padding: 0 15px;
  }
  .row .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%);
    width: calc(100%);
    padding: 0 15px;
  }
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ta-center {
  text-align: center;
}

main.homepage {
  padding-top: 191px;
}

@media (min-width: 860px) {
  main.homepage {
    padding-top: 250px;
  }
}

main.contact-page {
  padding-top: 83px;
}

@media (min-width: 860px) {
  main.contact-page {
    padding-top: 99px;
    min-height: 100vh;
    position: relative;
  }
  main.contact-page .side-img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50vw;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.br-6 {
  border-radius: 6px;
}

.br-4 {
  border-radius: 4px;
}

.full-width {
  width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fcf5e9;
  padding: 0;
}

header .navBar {
  margin: 0 10px 0 -10px;
}

header .navBar a {
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
}

header.category-header {
  background-color: #dec1a8;
  border-bottom: 1px solid #322e23;
}

header.category-header .logo-div {
  margin: 23px 0 13px !important;
}

header.category-header .recepies-menu {
  background-color: #fcf5e9;
  border-bottom: none !important;
}

.logo-div {
  margin: 34px 0;
  width: 172px;
}

@media screen and (max-width: 860px) {
  .logo-div {
    width: 166px;
    margin: 26px 0;
  }
}

.ta-right {
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button.menu-togg {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
  border-radius: 50%;
  background: transparent;
  z-index: 10;
}

.search {
  z-index: 100;
}

.menu-bg {
  padding: 70px 25px 25px;
  position: absolute;
  background-color: #fcf5e9;
  top: 0px;
  left: 0;
  width: calc(100%);
  text-align: center;
  height: 100%;
  font-family: "Lora", serif;
  z-index: 10;
  font-size: 16px;
  font-weight: 500;
}

.menu-bg > div {
  padding: 20px 0;
}

.menu-bg > div a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Lora", serif;
}

.mb-40 {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .remove-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 860px) and (min-width: 600px) {
  .remove-on-tablet {
    display: none;
  }
}

.d-block {
  display: block;
}

@media screen and (min-width: 861px) {
  .remove-on-desctop {
    display: none !important;
  }
}

.p-020 {
  padding: 0 20px;
}

.h-100vw {
  height: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-dots li button::before {
  font-size: 12px !important;
}

footer {
  background-color: #2f4858;
  padding: 26px 0;
}

.footer-link {
  color: #ffffff;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.m-030 {
  margin: 0 30px;
}

@media (max-width: 860px) {
  .m-030 {
    margin: 0;
  }
}

.mt-30 {
  margin-top: 30px;
}

.terms-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}

.recipe-page {
  padding-top: 88px;
  min-height: 100vh;
  background-color: #dec1a8;
}

@media (max-width: 860px) {
  .recipe-page {
    background-color: #fcf5e9;
  }
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mr-60px {
  margin-right: 60px;
}

.steps-conrent-desktop {
  margin-left: 30px;
}

.steps-conrent-desktop .imges-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps-conrent-desktop .imges-div .img-div-desk {
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 125px;
  height: 125px;
  position: relative;
}

.steps-conrent-desktop .imges-div .img-div-desk img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-conrent-desktop .imges-div .img-div-desk .overlay-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3e3d4e;
  opacity: 0.8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-conrent-desktop .imges-div .img-div-desk .overlay-img p {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.steps-conrent-desktop .recipe-category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  margin-top: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5e594e;
}

.recipe-p {
  margin-top: 16px;
  max-width: 450px;
}

.paragraphs-cont {
  min-height: 300px;
}

.prev-next-btn {
  margin-top: 50px;
  margin-bottom: 20px;
}

.prev-next-btn h5 {
  cursor: pointer;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: #fcf5e9;
}

.h-100vw-60 {
  height: calc(100vw - 60px);
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-current-mobile .recipe-category {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #4b4845;
}

.steps-current-mobile h3 {
  margin-top: 6px;
}

.steps-mobile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-mobile .step-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #322e23;
  font-family: "Lora", serif;
}

.steps-mobile .step-circle {
  position: relative;
  z-index: 2;
  margin-right: 16px;
  color: #56423c;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  width: 36px;
  text-align: center;
}

.steps-mobile .step-circle:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 40px;
  left: 50%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.steps-mobile .step-circle.current {
  color: #ffffff;
}

.steps-mobile .step-circle.current:before {
  background-color: #56423c;
}

.top-picks {
  padding: 0 10px;
}

.top-picks img.full-width {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-form {
  margin-top: 20px;
}

@media (min-width: 860px) {
  .contact-form {
    margin-top: 145px;
  }
}
/*# sourceMappingURL=main.css.map */